@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html
{
  position:fixed;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    /* padding: 0 20px; */
}

nav {
    display: flex;
    padding-top: 20px;
    margin: 0 auto;
    justify-content: space-between;
    gap: 65vw;
    
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: #F4F6FC;
}

a:hover {
    font-weight: bold;
    text-decoration: underline;
  }

.esquerda {
    display: flex;
    gap: 50px;
}

.direita {
    display: flex;
    gap: 50px;
}

h3 {
    font-size: 2rem;
    font-family: "Montserrat";
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 115px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* gap: 50px; */
    width: 100%;
    height: 100%;
}

img {
    position: absolute;
    width: 100vw;
    height: 110vh;
    object-fit: cover;
    background-position: center center;
    z-index: -1;
    opacity: 0.78;
    filter: blur(2px) brightness(0.25);
}

.logo {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 422px;
    /* min-height: 422px; */
    justify-content: center;
    align-items: center;
    text-align: center;

    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 40px;
    color: #FFFFFF;
}

.sign-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: #FFFFFF;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}

.sign-in label {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: regular;
    color: #FFFFFF;
}

.sign-in a{
    margin-top: 5px;
}

.sign-in svg{
    scale: 70%;
}

.logo svg{
    scale: 80%;
}

.form-itens {
    width: 350px;
    height: 40px;
    border-radius: 15px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: regular;
}

form {
display: flex;
flex-direction: column;
/* gap: 8px; */
}

form a{
    text-align: end;
}

#login{
    color: #FFFFFF;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: regular;
    text-align: left;
}

#login-btn { 
    width: 180px;
    height: 50px;
    border: none;
    background-color: #1E1E1E;
    border-radius: 20px;
    font-size: 20px;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    transition: 0.4s;
    margin: 0 auto 10px;
}

#login-btn:hover {
    transform: scale(1.1);
}