<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/home.css">
    <title>Inicio</title>
</head>
<body>
    <div id="overlay"></div>

    <div id="background">
        <img src="../img/gifs-natureza-bela-4.gif" alt="" srcset="" id="gif">
    </div>
    <header id="my-header">

            <a href="#header">Início</a>
            <a href="#welcome">Sobre</a>
            <a href="#content">Conteúdo</a>
            <a href="#forum">Forum</a>
    </header>
    <!-- <main> -->
        <section id="layout">
            <div class="layout-text">
                <h1 class="first-tittle"><span style="color: var(--primary-color)">Energy Clean</span></h1>
                <h1 class="second-tittle">Espalhando o Conhecimento</h1>
            </div>
            <div class="scroll-indicator">
                <div class="arrow-wrapper">
                    <span class="arrow"></span>
                    <span class="arrow"></span>
                    <p class="ver-mais">Ver Mais</p>
                </div>
               
            </div>
        </section>
        <div class="content">
            <div id="welcome">
                <h1 >Seja Bem vindo ao Energy Clean</h1><br>
            </div> 
        <section id="about">            
            <div class="about-text">
                <div class="text">
                <h2>About us</h1><br><br>
                <p>Somos uma plataforma dedicada a expandir o conhecimento e promover o uso de energias renováveis para um futuro mais sustentável.
                     Em um mundo onde a preocupação com o meio ambiente é cada vez mais urgente, acreditamos que a educação e a colaboração são essenciais para 
                     impulsionar a adoção de práticas mais ecológicas.<br><br>

                    Nosso objetivo é fornecer uma fonte centralizada de informações confiáveis sobre energias renováveis, desde os princípios básicos até as tecnologias
                     mais avançadas. Queremos capacitar as pessoas a entenderem os benefícios das energias limpas e a incorporá-las em suas vidas cotidianas, seja em casa,
                      no trabalho ou na comunidade.<br><br>
                    Além disso, oferecemos um espaço de interação e troca de ideias através de nosso fórum de discussão. Aqui, indivíduos apaixonados por energia 
                    sustentável podem se conectar, compartilhar experiências, projetos e descobertas, enriquecendo assim o conhecimento coletivo e inspirando a ação positiva.<br><br>
                    Se você é um entusiasta das energias renováveis, um estudante curioso, um profissional da área ou apenas alguém interessado em fazer a diferença no mundo, 
                    você está no lugar certo. Junte-se a nós no Energy Clean e vamos juntos construir um futuro mais limpo e sustentável para todos.<br><br>
                    Vamos fazer a diferença, uma fonte de energia de cada vez!
                    </p>
                </div>
                <div class="logo">
                    <img src="../img/energy-clean-logo.png" alt="energy-clean-logo" id="energy-clean-logo">
                </div>
            </div>
        </section>
        <section class="know-more">
            <div class="tittle-know-more">
                <h1>Aprofundando o Conhecimento</h1>
            </div>
            <div class="cards">
                <div class="card">
                    <div class="img-card">
                        <img src="../img/Energia-Sustentável.png" alt="" class="img-card">
                    </div>
                    <div class="content-card">
                        <h2>Energia Sustentavel</h2><br>
                        <p>Energia sustentável é toda energia elétrica originada a partir de fontes renováveis que não geram impactos ao meio ambiente, como a energia solar fotovoltaica e a eólica.</p>
                        <button onclick="" data-modal="modal-1" class="btn">Mais</button>
                    </div>
                    <div id="modal-1" class="modal">
                        <span class="close">&times;</span>
                        <div class="modal-container">
                            <h1>Energia Sustentavel</h1><br><br>
                            <img src="../img/Energia-Sustentável.png" class="img-modal" alt="">
                            <div class="modal-text">
                                <h2>O que é?</h2>
                                <p>Antes de mergulhar completamente no entendimento da energia sustentável, é fundamental esclarecer o significado 
                                    desse conceito. Energia sustentável refere-se a toda forma de energia elétrica proveniente de fontes renováveis que
                                     não causam impactos significativos ao meio ambiente. Exemplos dessas fontes incluem energia solar fotovoltaica e 
                                     energia eólica. A energia sustentável é a energia obtida a partir de recursos inesgotáveis. Por definição, a 
                                     energia sustentável atende às necessidades do presente sem comprometer a capacidade das gerações futuras 
                                     satisfazerem as suas necessidades. Leia aqui tudo o que você precisa saber sobre energia sustentável!
                                </p><br>
                                <h2>Características</h2><br>
                                <p>A energia sustentável, proveniente de fontes renováveis como solar, eólica, hidrelétrica e biomassa, oferece diversas
                                     vantagens sobre as formas tradicionais de geração de energia. Além de ser praticamente inesgotável a longo prazo, 
                                     reduz as emissões de gases de efeito estufa, diminui a dependência de combustíveis fósseis e estimula o crescimento
                                      econômico através da geração de empregos. Sua produção localizada aumenta a resiliência do sistema energético e 
                                      possibilita o acesso à energia em áreas remotas. Além disso, promove a inovação tecnológica em soluções de
                                       armazenamento de energia e eficiência energética, tornando-a fundamental para um futuro energético mais limpo e 
                                       sustentável.</p><br>
                                <h2>Principais vantagens</h2><br>
                                <p>A energia sustentavel oferece numerosos benefícios, tanto para as empresas que apostam 
                                nela quanto para a sociedade, ao ajudar a minimizar o impacto das mudanças 
                                climáticas:</p>
                                <ul>
                                    <li><strong>Renovabilidade: </strong>As fontes de energia sustentável, como solar, eólica, hidrelétrica e biomassa, são renováveis e praticamente inesgotáveis, ao contrário dos combustíveis fósseis.</li>
                                    <li><strong>Redução de Emissões:  </strong>A energia sustentável ajuda a reduzir as emissões de gases de efeito estufa, contribuindo para mitigar as mudanças climáticas e melhorar a qualidade do ar.</li>
                                    <li><strong>Diversificação Energética: </strong>Ao diminuir a dependência de combustíveis fósseis, a energia sustentável promove a diversificação das fontes de energia, aumentando a segurança energética e reduzindo a volatilidade dos preços dos combustíveis.</li>
                                    <li><strong>Geração de Empregos Verdes:  </strong>A transição para a energia sustentável cria empregos em setores como instalação, manutenção e fabricação de equipamentos renováveis, impulsionando o crescimento econômico e a criação de empregos.</li>
                                    <li><strong>Desenvolvimento Local e Resiliência:  </strong>A produção localizada de energia sustentável, combinada com a capacidade de fornecer energia em áreas remotas, aumenta a resiliência do sistema energético e promove o desenvolvimento local sustentável.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="img-card">
                        <img src="../img/Materia-Energia-Solar.jpg" alt="" class="img-card">
                    </div>
                    <div class="content-card">
                        <h2>Energia Solar</h2><br>
                        <p>A energia solar fotovoltaica é a produção de eletricidade por meio da conversão direta da luz solar em eletricidade, utilizando o efeito fotovoltaico.</p>
                        <button onclick="" data-modal="modal-2" class="btn">Mais</button>
                    </div>
                    <div id="modal-2" class="modal">
                        <span class="close">&times;</span>
                        <div class="modal-container">
                            <h1>Energia Eolica</h1><br><br>
                            <img src="../img/Materia-Energia-Solar.jpg" class="img-modal" alt="">
                            <div class="modal-text">
                                <h2>O que é?</h2>
                                <p>Energia solar é uma fonte de energia renovável e sustentável proveniente da radiação solar, que consiste na luz e no 
                                    calor emitidos pelo sol diariamente. Essa energia pode ser capturada e utilizada através de diversas tecnologias, 
                                    como painéis fotovoltaicos, que convertem a luz solar em eletricidade, e aquecedores solares, que aquecem a água para
                                     uso residencial e industrial. Além disso, usinas heliotérmicas, também conhecidas como termossolares, aproveitam o 
                                     calor do sol para gerar eletricidade em larga escala. Essas tecnologias, cada vez mais acessíveis e eficientes, 
                                     tornam a energia solar uma alternativa viável e promissora para reduzir a dependência de combustíveis fósseis e 
                                     mitigar os impactos ambientais associados à geração de energia.
                                </p><br>
                                <h2>Como funciona?</h2><br>
                                <p>A energia solar opera assim: é produzida nos sistemas compostos por painéis e inversores. Os módulos fotovoltaicos, 
                                    também chamados de placas solares, captam a luz solar e a transportam para o inversor solar, onde é convertida em 
                                    eletricidade por meio do efeito fotovoltaico.
                                    Além da energia fotovoltaica, existem outras formas de energia solar, como a térmica. Embora tenham processos 
                                    distintos, todas compartilham o mesmo princípio: captar a energia solar para funcionar e alcançar o objetivo 
                                    desejado.</p><br>
                                <h2>Principais vantagens</h2><br>
                                <p>A energia solar oferece numerosos benefícios, tanto para as empresas que apostam 
                                nela quanto para a sociedade, ao ajudar a minimizar o impacto das mudanças 
                                climáticas:</p>
                                <ul>
                                    <li><strong>Renovabilidade:  </strong>A energia solar é uma fonte de energia renovável, pois utiliza a luz do sol, uma fonte inesgotável e abundante de energia.</li>
                                    <li><strong>Baixos Impactos Ambientais: </strong>A geração de energia solar não emite poluentes atmosféricos nem contribui para o aquecimento global, ajudando a reduzir os impactos ambientais negativos associados à produção de energia.</li>
                                    <li><strong>Redução dos Custos de Energia: </strong>O investimento inicial em sistemas solares pode ser compensado ao longo do tempo, já que a energia solar pode reduzir significativamente ou até eliminar a conta de energia elétrica, resultando em economia a longo prazo.</li>
                                    <li><strong>Independência Energética: </strong>A energia solar proporciona autonomia energética, especialmente em áreas remotas ou rurais, onde a rede elétrica pode ser inacessível ou cara de se instalar.
                                    <li><strong>Baixa Manutenção: </strong>Os sistemas solares requerem pouca manutenção após a instalação inicial, reduzindo os custos e os inconvenientes associados à manutenção regular de outras fontes de energia.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="img-card">
                        <img src="../img/energia-hidreletrica.jpg" alt="" class="img-card">
                    </div>
                    <div class="content-card">
                        <h2>Energia Hidréletrica</h2><br>
                        <p>A energia hidráulica é gerada pela energia potencial da água em movimento, como em rios e lagos, podendo ser aproveitada através de quedas d'água ou desníveis.</p>
                        <button onclick="" data-modal="modal-3" class="btn">Mais</button>
                    </div>
                    <div id="modal-3" class="modal">
                        <span class="close">&times;</span>
                        <div class="modal-container">
                            <h1>Energia Eolica</h1><br><br>
                            <img src="../img/energia-hidreletrica.jpg" class="img-modal" alt="">
                            <div class="modal-text">
                                <h2>O que é?</h2>
                                <p>A energia hidrelétrica é uma forma de energia renovável gerada pela força da água em movimento, como em rios e lagos.
                                     Esse tipo de energia é produzido em usinas hidrelétricas, onde a água em movimento é usada para girar turbinas
                                      conectadas a geradores, convertendo assim a energia mecânica em energia elétrica.
                                </p><br>
                                <h2>Como funciona?</h2><br>
                                <p>Usinas hidrelétricas aproveitam a diferença de energia potencial da água entre dois pontos em altitudes distintas para
                                     gerar eletricidade. A água é conduzida por um circuito hidráulico, ganhando velocidade e energia cinética à medida 
                                     que desce pelo salto. Turbinas convertem essa energia cinética em energia mecânica, que é então transformada em 
                                     eletricidade por geradores. O rendimento geral é elevado, aproveitando quase toda a energia potencial da água. 
                                     Usinas reversíveis, por outro lado, transformam energia elétrica em energia potencial, bombeando água para 
                                     reservatórios superiores.</p><br>
                                <h2>Principais vantagens</h2><br>
                                <p>A energia hidrelétrica oferece numerosos benefícios, tanto para as empresas que apostam 
                                nela quanto para a sociedade, ao ajudar a minimizar o impacto das mudanças 
                                climáticas:</p>
                                <ul>
                                    <li><strong>Renovabilidade: </strong>A energia hidrelétrica é uma fonte de energia renovável, pois utiliza a força da água em movimento, um recurso natural que é continuamente renovado pelos ciclos hidrológicos.</li>
                                    <li><strong>Baixos Impactos Ambientais: </strong>Em comparação com muitas outras formas de energia, a hidrelétrica tem baixos impactos ambientais, principalmente quando comparada a fontes de energia fóssil, pois não emite gases de efeito estufa durante a geração de eletricidade.</li>
                                    <li><strong>Previsibilidade e Estabilidade: </strong>A produção de energia hidrelétrica é relativamente previsível e estável, uma vez que depende de fontes naturais como a chuva e o derretimento da neve, o que pode facilitar o planejamento e a gestão da oferta de energia.</li>
                                    <li><strong>Flexibilidade:  </strong>As usinas hidrelétricas podem ser facilmente controladas para se ajustarem à demanda de energia em tempo real, permitindo uma resposta rápida às variações na demanda por eletricidade.</li>
                                    <li><strong>Múltiplos Usos: </strong>Além da geração de eletricidade, as barragens hidrelétricas também podem ser utilizadas para outros fins, como controle de enchentes, abastecimento de água, irrigação, recreação e navegação, proporcionando benefícios adicionais para a comunidade e a economia local.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="img-card">
                        <img src="../img/energia_eolica.jpg" alt="" class="img-card">
                    </div>
                    <div class="content-card">
                        <h2>Energia Eolica</h2><br>
                        <p>A energia eólica é a energia elétrica obtida pela transformação da energia cinética do vento em eletricidade, por meio de aerogeradores.</p>
                        <button onclick="" data-modal="modal-4" class="btn">Mais</button>
                    </div>
                    <div id="modal-4" class="modal">
                            <span class="close">&times;</span>
                            <div class="modal-container">
                                <h1>Energia Eolica</h1><br><br>
                                <img src="../img/energia_eolica.jpg" class="img-modal" alt="">
                                <div class="modal-text">
                                    <h2>O que é?</h2>
                                    <p>A energia eólica é gerada através da ação do vento. Isso ocorre utilizando um dispositivo 
                                        chamado aerogerador, que converte a energia cinética do vento em eletricidade. O procedimento
                                         de obtenção é predominantemente realizado pelo rotor (que converte a energia cinética em 
                                         energia mecânica) e pelo gerador (que converte essa energia mecânica em eletricidade). 
                                         Estamos nos referindo a uma fonte de energia renovável, confiável, consolidada e segura, 
                                         crucial para a transição energética e para reduzir as emissões de carbono na economia.
                                    </p><br>
                                    <h2>Características</h2><br>
                                    <p>Para capturar a energia cinética do vento e transformá-la em eletricidade, é essencial 
                                        empregar um aerogerador, como já foi mencionado. A eficiência máxima desses enormes 
                                        dispositivos (geralmente com alturas entre 80 e 120 metros) está diretamente ligada à
                                        intensidade do vento. Portanto, os parques eólicos, que reúnem um grande conjunto de
                                        aerogeradores e possibilitam a geração dessa energia em larga escala, devem ser
                                        instalados em locais onde a presença do vento seja constante.</p><br>
                                    <h2>Principais vantagens</h2><br>
                                    <p>A energia eólica oferece numerosos benefícios, tanto para as empresas que apostam 
                                    nela quanto para a sociedade, ao ajudar a minimizar o impacto das mudanças 
                                    climáticas:</p>
                                    <ul>
                                        <li><strong>Limpa: </strong>Por não requerer nenhum processo de combustão, essa 
                                            forma de energia apresenta baixas emissões de gases de efeito estufa (GEE), os
                                             quais são os principais contribuintes para o fenômeno do aquecimento global.</li>
                                        <li><strong>Inesgotável: </strong>O vento representa um recurso praticamente 
                                            inesgotável, assim como sua exploração, contanto que haja correntes de ar em 
                                            quantidade adequada.</li>
                                        <li><strong>Barata: </strong>O custo por kW produzido e os gastos com manutenção são significativamente reduzidos. Em regiões com ventos mais intensos, os benefícios são ainda mais notáveis.</li>
                                        <li><strong>Baixo impacto: </strong>Os parques eólicos são implantados após um minucioso processo de análise e planejamento. Além disso, são preferencialmente localizados em áreas pouco povoadas para minimizar possíveis impactos negativos nas comunidades locais.</li>
                                        <li><strong>Cria empregos verdes: </strong>Conforme dados da Agência Internacional de Energias Renováveis (IRENA), a indústria eólica já emprega mais de 1,2 milhão de pessoas, e a demanda por empregos sustentáveis continua em ascensão.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="forum">
            <div class="forum-container">
                <img src="../img/energy-clean-logo.png" alt="" class="forum-img">
                <div class="forum-apresentation">
                    <h2>Compartilhando o conhecimento</h2><br><br>
                    <div class="itens">
                    <p>Voce conhece o forum Energy Clean? Um ambiente para pode aprofundar e compartilhar seus conhecimentos sobre Energia Sustentável. <br><br>
                    Estamos vivendo em uma era onde desastres naturais estão se tornando cada vez mais recorrentes e com isso, é necessario que todos tenham conhecimentos sobre
                    Energias SUstentaveis e como aplica-las em suas empresas e vidas. Você pode fazer parte dessa comunidade para compartilhar suas ideias e conhecimentos, projetos que 
                    foram desenvolvidos para a utilização de energias de fontes sustentaveis, entre outras coisas. <br><br>
                    Ficou interessado  e deseja participar dessa incrivel comunidade? Clique nos botões abaixo e se inscreva para fazer parte.</p>
                    <div class="button-forum">
                        <!-- <form action="/login" method="get"> -->
                            <button type= "submit" id="into-login">Login</button>
                            <button type= "submit" id="into-signup">Inscreva-se</button>

                    </div>
                </div>
                </div>
            </div>
        </section>
        <footer>
            <h1>Enegy Clean</h1>
            <h2>UPX3</h2>
        </footer>
    <!-- </main> -->
    <script src="../js/home.js"></script>
</body>
</html>