<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/sign-up.css">
    <title>Cadastrar</title>
</head>
<body>
    <div class="container">
        <div class="sign-up">
            <h3>Cadastrar</h3><br>
            <div class="error" id="error"></div>
            <form id="signup-form">
                <input type="text" id="userName" class="form-itens" placeholder="Nome de Usúario" autocomplete="off"><br><br>
                <input type="text" id="email"class="form-itens" placeholder="Email" autocomplete="off"><br><br>
                <input type="password" name="" id="password"class="form-itens" placeholder="Senha"><br><br>
                <input type="password" name="confirm-password" id="confirm-password"class="form-itens" placeholder="Confirmar Senha"><br><br>
                <button type="submit" id="form-btn">Entrar</button>
            </form>
        </div>
    </div>
    <script src="../js/signup.js"></script>
</body>
</html>